
a {
	color: #0bc;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home {
    background-color: #000;
    font-family: courier, monospace;
}

.home-content {
    width: 50%;
    margin: auto;
}

#greeting {
	color: #fff;
    height: 100px;
    position: fixed;
    top: 50px;
	margin-left:auto;
	margin-right:auto;
    font-size:14px;
}

#feed {
    position: fixed;
    top: 150px;
    margin: auto;
}


article {
    background-color: #fff;
    font-family: Helvetica;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

article .intro {
    margin-bottom: 40px;
}

article .step .step-note {
    font-size: 13px;
}

article table {
    color: white;
    font-family: monospace;
    border-collapse: collapse; 
}

article table thead {
    border-bottom: 1pt solid greenyellow;
}

article table td {
    padding-right: 15px;
}

.code-block {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    background-color: #000;
}

code {
    color: #fff;
    display: inline;
    font-family: monospace;
}

.prompt {
    font-size: 12px;
    font-family: monospace;
    color: greenyellow;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
}
