@media 
only screen and (max-width: 900px) {
    .hide-mobile {
        display: none;
    }
}

.article-arrow {
	color: greenyellow;
}

a {
	color: #0bc;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home {
    background-color: #000;
    font-family: courier, monospace;
}


@media 
only screen and (max-width: 740px) {
    .home-content {
        width: 90%;
        margin: auto;
    }
    #greeting {
        font-size:18px;
    }
}


@media 
only screen and (min-width: 740px) {
    .home-content {
        width: 70%;
        margin: auto;
    }
    #greeting {
        font-size:14px;
    }
}

#greeting {
	color: #fff;
    height: 100px;
    position: fixed;
    top: 50px;
	margin-left:auto;
	margin-right:auto;
}

#feed {
    position: fixed;
    top: 150px;
    margin: auto;
}

#feed .article {
    margin-bottom: 10px;
}

@media 
only screen and (max-width: 900px) {
    #feed .article {
        font-size: 24px;
    }
}

article {
    background-color: #fff;
    font-family: Helvetica;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

article .last-update {
    font-size: 12px;
    color: grey;
    margin-top: -10px;
    margin-bottom: 50px;
}

article .intro {
    margin-bottom: 40px;
}

article .intro p {
    margin-top: 0px;
    margin-bottom: 0px;
}

article .step .step-note {
    font-size: 13px;
}

article table {
    color: white;
    font-family: monospace;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

article table thead {
    border-bottom: 1pt solid greenyellow;
}

article table td {
    padding-right: 15px;
}

.code-block {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    background-color: #000;
}

code {
    color: #fff;
    display: inline;
    font-family: monospace;
}

code .comment {
    color: grey;
}

.prompt {
    font-size: 12px;
    font-family: monospace;
    color: greenyellow;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
}
